<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gestion des assets</title>
    <link rel="stylesheet" href="/static/styles.css" />
  </head>
  <body>
    <header>
      <div class="container">
        <h1>Gestion des assets des employées</h1>
        <nav>
          <a href="/employees">Employées</a>
          <a href="/assets">Assets</a>
        </nav>
      </div>
    </header>
    <main class="container">
      {% block content %}{% endblock %}
    </main>
  </body>
</html>
